## First import Pandas to load the data into a dataframe, and the Enum class.

In [1]:
import pandas as pd

from enum import Enum

## To help determine if the letter is found in the word of the day.

- exactly: the letter is found in the word and in the correct spot.
- exist: the letter is in the word but in the wrong spot.
- nonexistent: the letter is not found in the word.

In [2]:
class Val(Enum):
    exactly = 'exactly'
    exist = 'exist'
    nonexistent = 'nonexistent'

## The function to filter out the words that do not match the pattern of existing letters.

In [3]:
def filter_words(top_words, guess):
    for index, (letter, validation) in enumerate(guess):
        if validation == Val.nonexistent:
            top_words = top_words[~top_words.isin([letter]).any(axis=1)]
        
        elif validation == Val.exactly:
            top_words = top_words[top_words.iloc[:, index] == letter]

        elif validation == Val.exist:
            top_words = top_words[(top_words.isin([letter]).any(axis=1)) & (top_words.iloc[:, index] != letter)]

    return top_words

## Load the words.csv file into a Pandas Dataframe

In [4]:
words = pd.read_csv(r"words.csv", index_col='rank')

## Use the three most frequently used letters to suggest a list of words to start the game.

In [5]:
starting_words = words.copy()
most_frequent_letters = 'aei'

for letter in most_frequent_letters:
    starting_words = starting_words[starting_words.isin([letter]).any(axis=1)]

starting_words[['word']].head(10)

       word
rank
104   media
191   aired
327   image
332   maine
382   marie
436   anime
476   ideas
500   alice
534   aires
599   aimed

## Make a copy of the words Dataframe.

In [6]:
top_words = words.copy()

## Filtering out the top words.

1. Replace the "word" string variable with the word you entered into the game.
2. Using the validation list, set the enum value that corresponds to the index of the letter you entered.
3. Run cell
4. Pick a word from the list to use for your next guess.

In [7]:
word = 'media'
validations = [Val.exactly, Val.nonexistent, Val.nonexistent, Val.exist, Val.nonexistent]

guess = list(zip(word.lower(), validations))
top_words = filter_words(top_words, guess)
top_words[['word']]

         word
rank
159     minor
378     might
429     mills
532     moist
1436    micro
...       ...
153861  mbinu
154164  monzi
154428  minzi
154622  miloi
154827  mokni

[764 rows x 1 columns]